.nav {
    border-top: 1px solid #eb9d9d;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: left;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 10px;
    font-size: 17px;
    padding: 14px 16px;
}

.nav a.active {
    background-color: #db0707;
    color: white;
}
