a {
    color: #e53e3e;
}
a:hover {
    color: #e78787;
}

header {
    padding-top: 40px;
    background: #e53e3e;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px #e53e3e;
}

header h1 {
    font-size: 48px;
}

header h2 {
  color: #fdc8c8;
}

pre code {
    color: #d0284c;
}
